*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

p{
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;

  }
  
.header {
    position: relative;
    padding: 1.3rem;
  }
  
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    
}
  
.nav .logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: #003D2B;
}
  
.nav .nav-links li {
    display: inline-block;
    padding-left: 10px;
}
  
.nav .nav-links li a {
    text-decoration: none;
    color: #003D2B;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
}
  
.nav .nav-links li a:hover {
    background-color: #000;
    color: #fff;
}
  
.nav .nav-links .selected a {
    color: #003D2B;
    font-weight: 900;
}

.restangles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
}

.restangle1{
    width: 50%;
    height: 400px;
    background-color: #E4C2B1 ;
    
}

.restangle2{
    width: 50%;
    height: 400px;
    
    
}

.text1{
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 18px;
}



.hero .offers .offer1 img{
    float: left;
    width: 20px;
}

.hero .offers .offer1{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 190px;
    width: 400px;
    
}
.hero .offers .offer2{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 240px;
}

.hero .offers .offer2 img{
    float: left;
    width: 20px;
}

.hero .offers .offer3{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 290px;
}

.hero .offers .offer3 img{
    float: left;
    width: 20px;
}

.getquote{
    position: absolute;
    left: 40px;
    top: 350px;
}

.hero .base{
    width: 100%;
    height: 50%;   
    background-color: #EFEFEF;
    display: flex;
    flex-wrap: wrap;
}

.hero .services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 240px;
    background-color: #EFEFEF;
    
}

.hero .services .service1 p{
    color: #6A6E6D;
}

.hero .services .service1{
    display: inline-block;
    width: 33%;
    height: 200px;
}

.hero .services .service2 p{
    color: #6A6E6D;
}

.hero .services .service2{
    width: 33%;
    height: 200px;
}

.hero .services .service3{
    width: 33%;
    height: 200px;
}
.hero .services .service3 p{
color: #6A6E6D;
}

.base .tariff{
    width: 50%;
    height: 350px;
    padding: 50px;
}

.base .tariff h2{
    font-size: 24px;
}

.base .tariff p{
    font-size: 16px;
}

.base .tariff a{
    color: #045725;
    font-size: 16px;
}

.base .benefits{
    width: 50%;
    height: 350px;
    background-color: #E4C2B1;
    
    
}

.base .benefits .offerss{
    font-size: 16px;
    background-color: white;
    height: 0px;
    align-items: center;
}

.base .benefits .offerss h2{
    font-size: 24px;
}

.second {
    display: flex;
    width: 100%;
    background: #EFEFEF;
}

.second2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10rem 13rem;
}

.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5rem;
}

.box1 img {
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-right: 2.5rem;
}

.value h3 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.value span {
    font-weight: 500;
    font-size: 1.75rem;
    color: #6A6E6D;
}

.arrow {
    margin-left: 20rem;
}

.arrow img {
    width: 10px;
    height: 17px;
}

.text {
    width: 100%;
    padding: 10rem 1rem;
}

.text h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.text p {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.6rem;
}

.great {
    display: flex;
    padding: 10rem 7.5rem;
    width: 100%;
}

.what {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.what2 {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.5rem;
}

.not {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.img12 img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    position: relative;
    top: 1.45rem;
}

.img12 h2 {
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.img12 h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.img12 span {
    font-size: 1.25rem;
    font-weight: 400;
    position: relative;
    left: 6.6rem;
}

.img12 {
    margin-bottom: 2.5rem;
}

.store {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 8.1rem 6rem;
    background-color: #EFEFEF;
}

.google {
    width: 50%;
    margin: 0 auto;
}

.google h4 {
    font-size: 2.025rem;
    font-weight: 500;
    color: #025F44;
    line-height: 2rem;
    margin-bottom: 1.25rem;
    margin-left: -0.5rem;
}

.google img {
    width: 20px;
    height: 20px;
    margin-right: 1.02rem;
    margin-bottom: 1.25rem;
}

.google a {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    color: #045725;
    margin-left: -0.2rem;
}

.customer {
    width: 100%;
    display: flex;
    padding: 8rem;
}

.voice {
    width: 60%;
    padding: 1rem 4.2rem 0rem 1.25rem;
}

.voice h3 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 4rem;
    margin-bottom: 2rem;
}

.voice p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    color: #6A6E6D;
}

.img125 {
    width: 56%;
    height: 31.4rem;
    margin-top: 2.7rem;
    padding-left: 4rem;
    background-image: url('./images/Shape-146.png');
}

.img125 img {
    width: 35rem;
    height: 35rem;
    margin-top: -1.6rem;
}

.john {
    width: 31%;
    padding: 3rem 2.5rem;
}

.john h3 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.12rem;
    margin-bottom: 2.25rem;
}

.john p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 2.756rem;
}

.john img {
    margin-bottom: 2.754rem;
    width: 25px;
    height: 25px;
}

.john .indic {
    width: 230px;
    height: 85px;
    margin-left: 7rem;
}

.john .mb {
    margin-bottom: 11rem;
}

.faq {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 9rem 15rem;
    background: #EFEFEF;
}

.faq h2 {
    font-weight: 600;
    font-size: 4.75rem;
    line-height: 5.21rem;
}

.faq .box6 {
    width: 63%;
    margin: 0 auto;
}

.faq .box1 .men img {
    width: 20px;
    height: 20px;
}

.box1 .arrow12 img {
    width: 10px;
    height: 17px;
}

.powerwait {
    width: 100%;
    margin: 0 auto;
    padding: 9rem 12rem;
    background: #E4C2B1;
}

.download {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.download h2 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 4.25rem;
    margin-bottom: 2.35rem;
    text-align: center;
}

.download p {
    font-size: 1.85rem;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 2.35rem;
}

.company {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5rem 12rem;
}

.company .links {
    width: 25%;
    padding: 0.5rem;
}

.links {
    width: 25%;
}

.links ul {
    list-style-type: none;
}

.links ul li {
    margin-bottom: 2rem
}

.links ul li a {
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
    color: #000;
}

.links h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 3.56rem;
}

.produc h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 3.56rem;
}

.produc {
    width: 25%;
}

.region img {
    width: 175px;
    height: 95px;
}

.region {
    width: 25%;
}

.text {
    width: 75%;
    margin: 9rem 12.4rem;
}
