*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

p{
    font-size: 16px;
}

body {
    font-family: "Montserrat", sans-serif;

  }
  
.header {
    position: relative;
    padding: 1.3rem;
  }
  
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    
}
  
.nav .logo {
    font-size: 2.4rem;
    font-weight: 700;
    color: #003D2B;
}
  
.nav .nav-links li {
    display: inline-block;
    padding-left: 10px;
}
  
.nav .nav-links li a {
    text-decoration: none;
    color: #003D2B;
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
}
  
.nav .nav-links li a:hover {
    background-color: #000;
    color: #fff;
}
  
.nav .nav-links .selected a {
    color: #003D2B;
    font-weight: 900;
}

.restangles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
}

.restangle1{
    width: 50%;
    height: 400px;
    background-color: #E4C2B1 ;
    
}

.restangle2{
    width: 50%;
    height: 400px;
    
    
}

.text1{
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 18px;
}

.hero .offers .offer1 img{
    float: left;
    width: 20px;
}

.hero .offers .offer1{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 190px;
    width: 400px;
    
}
.hero .offers .offer2{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 240px;
}

.hero .offers .offer2 img{
    float: left;
    width: 20px;
}

.hero .offers .offer3{
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 290px;
}

.hero .offers .offer3 img{
    float: left;
    width: 20px;
}

.getquote{
    position: absolute;
    left: 40px;
    top: 350px;
}

.hero .base{
    width: 100%;
    height: 50%;   
    background-color: #EFEFEF;
    display: flex;
    flex-wrap: wrap;
}

.hero .services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 240px;
    background-color: #EFEFEF;
    
}

.hero .services .service1 p{
    color: #6A6E6D;
}

.hero .services .service1{
    display: inline-block;
    width: 33%;
    height: 200px;
}

.hero .services .service2 p{
    color: #6A6E6D;
}

.hero .services .service2{
    width: 33%;
    height: 200px;
}

.hero .services .service3{
    width: 33%;
    height: 200px;
}
.hero .services .service3 p{
color: #6A6E6D;
}

.base .tariff{
    width: 50%;
    height: 350px;
    padding: 50px;
}

.base .tariff h2{
    font-size: 24px;
}

.base .tariff p{
    font-size: 16px;
}

.base .tariff a{
    color: #045725;
    font-size: 16px;
}

.base .benefits{
    width: 50%;
    height: 350px;
    background-color: #E4C2B1;
    
    
}

.base .benefits .offerss{
    font-size: 16px;
    background-color: white;
    height: 0px;
    align-items: center;
}

.base .benefits .offerss h2{
    font-size: 24px;
}

.greta {
    display: flex;
    width: 100%;
    background: #EFEFEF;
}

.exten {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10rem 13rem;
}

.box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2.5rem;
}

.box1 img {
    display: inline-block;
    width: 85px;
    height: 85px;
    margin-right: 2.5rem;
}

.sen h3 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.sen span {
    font-weight: 500;
    font-size: 1.75rem;
    color: #6A6E6D;
}

.arrow {
    margin-left: 20rem;
}

.arrow img {
    width: 10px;
    height: 17px;
}

.yeni {
    width: 100%;
    padding: 10rem 1rem;
}

.yazi h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.yazi p {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.6rem;
}

.great {
    display: flex;
    padding: 10rem 7.5rem;
    width: 100%;
}

.what {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.what2 {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3.5rem;
}

.not {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.img12 img {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    position: relative;
    top: 1.45rem;
}

.img12 h2 {
    font-size: 2.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.img12 h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.img12 span {
    font-size: 1.25rem;
    font-weight: 400;
    position: relative;
    left: 6.6rem;
}

.img12 {
    margin-bottom: 2.5rem;
}

